body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  height: 50px; /* Initial height */
  background-color: transparent;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: background-color 0.3s ease, height 0.3s ease; /* Smooth transitions */
  z-index: 1000;
}

.navbar a {
  color: rgb(45, 7, 7);
  text-decoration: none;
}

/* Change the color of the links */
.navbar a:hover {
  color: #130000;
}

/* Style your other content as needed */

.container{
  position: relative;
  top: 5000px;
}